body {
  background: #2d336b;
}

a {
  color: #7886c7;
}

.app-container {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.app-title {
  margin-bottom: 20px;
  color: #7886c7;
}
